body {
    background-image: url('./assets/background.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: none;
    opacity: 0.75;
    overflow-y: hidden;
}

.app {
    text-align: center;
    padding: 5%;
}

.add-hero {
    cursor: pointer;
    float: right;
}

.list-group {
    max-width: 500px;
    margin: auto;
}

.list-item {
    display: inline-block;
}

.slideup {
    -webkit-animation: .5s slideup forwards;
    -moz-animation: .5s slideup forwards;
    -o-animation: .5s slideup forwards;
    animation: .5s slideup forwards;
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(500px) 
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}